.star-rating {
    font-size: 2em;
    cursor: pointer;
    direction: rtl;
    text-align: left;
  }
  
.star {
  color: lightgray;
  transition: color 0.2s;
}

.star:hover,
.star:hover ~ .star,
.star.selected {
  color: gold;
}

body {
    min-width:300px;
}