.star-rating {
    font-size: 2em;
    text-align: left;
  }
  
.star {
  color: lightgray;
  cursor: pointer;
  transition: color 0.2s;
}

.star.selected {
  color: gold;
}

body {
    min-width:300px;
}